@model IEnumerable<CourseVM>
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h2 class="text-center">Courses</h2>
    <a asp-controller="Course" asp-action="Create" class="btn btn-success">
        <i class="ti-plus"></i>
    </a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Price</th>   
                    <th>Category</th>
                    <th>Instructor</th>                   
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>   
                        <td>@item.CategoryName</td>
                        <td>@item.InstructorName</td>                     
                        <td>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary text-white small">
                                <i class="fa-solid fa-info"></i>
                            </a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning text-white small">
                                <i class="ti-marker-alt"></i>
                            </a>
                            <form class="d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger text-white small">
                                    <i class="ti-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section js{
    <script src="~/js/archive.js"></script>
}
